# Import Libraries

In [1]:
import pandas as pd
import sweetviz as sv

## Get the data

In [2]:
well_header = pd.read_csv('WellHeader_subset.csv',parse_dates=True,)
well_production = pd.read_csv('WellProduction_subset.csv')
perf_treatment = pd.read_csv('PerfTreatment_subset.csv')

In [3]:
well_header=well_header.iloc[:,1:87]
well_header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1147 entries, 0 to 1146
Data columns (total 86 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EPAssetsId                 1147 non-null   int64
 1   Province                   1147 non-null   object
 2   LicenceNumber              1147 non-null   int64
 3   UWI                        1147 non-null   object
 4   CurrentOperator            1147 non-null   object
 5   CurrentOperatorParent      1147 non-null   int64
 6   CurrentOperatorParentName  1147 non-null   object
 7   Licensee                   1147 non-null   object
 8   LicenseeParentCompany      1147 non-null   int64
 9   LicenseeParentCompanyName  1147 non-null   object
 10  LicenceDate                1147 non-null   object
 11  CurrentStatus              1147 non-null   object
 12  CurrentStatusStandardised  1147 non-null   object
 13  WellType                   1147 non-null   object
 14  WellTypeStandardised       1147 non-null   object
 15  ConfidentialReleaseDate    114 non-null    object
 16  AbandonDate                0 non-null      float64
 17  SurfAbandonDate            0 non-null      float64
 18  WellName                   1147 non-null   object
 19  Formation                  1147 non-null   object
 20  Field                      1147 non-null   object
 21  Pool                       1147 non-null   object
 22  SurveySystem               1147 non-null   object
 23  Surf_Location              1147 non-null   object
 24  Surf_Township              1147 non-null   int64
 25  Surf_Meridian              1147 non-null   object
 26  Surf_Range                 1147 non-null   int64
 27  Surf_Section               1147 non-null   int64
 28  Surf_LSD                   1147 non-null   int64
 29  Surf_Longitude             1147 non-null   float64
 30  Surf_Latitude              1147 non-null   float64
 31  Surf_TownshipRange         1147 non-null   object
 32  Surf_QuarterUnit           1147 non-null   object
 33  Surf_Unit                  1147 non-null   object
 34  Surf_Block                 1147 non-null   object
 35  Surf_NTSMapSheet           1147 non-null   object
 36  Surf_Series                1147 non-null   object
 37  Surf_Area                  1147 non-null   object
 38  Surf_Sheet                 1147 non-null   object
 39  Surf_QuarterSection        1147 non-null   object
 40  BH_Location                1147 non-null   object
 41  BH_TownshipRange           1147 non-null   object
 42  BH_QuarterUnit             1147 non-null   object
 43  BH_Unit                    1147 non-null   object
 44  BH_Block                   1147 non-null   object
 45  BH_NTSMapSheet             1147 non-null   object
 46  BH_Series                  1147 non-null   object
 47  BH_Area                    1147 non-null   object
 48  BH_Sheet                   1147 non-null   object
 49  BH_QuarterSection          1147 non-null   object
 50  BH_Longitude               1147 non-null   float64
 51  BH_Latitude                1147 non-null   float64
 52  BH_Township                1147 non-null   int64
 53  BH_Meridian                1147 non-null   object
 54  BH_Range                   1147 non-null   int64
 55  BH_Section                 1147 non-null   int64
 56  BH_LSD                     1147 non-null   int64
 57  GroundElevation            1147 non-null   float64
 58  KBElevation                1147 non-null   float64
 59  TotalDepth                 1147 non-null   float64
 60  LaheeClass                 1147 non-null   object
 61  Confidential               1147 non-null   object
 62  SurfaceOwner               1147 non-null   object
 63  OSArea                     1147 non-null   object
 64  OSDeposit                  1147 non-null   object
 65  DrillingContractor         1147 non-null   object
 66  SpudDate                   1147 non-null   object
 67  FinalDrillDate             1147 non-null   object
 68  RigReleaseDate             1147 non-null   object
 69  DaysDrilling               1147 non-null   float64
 70  DrillMetresPerDay          1147 non-null   float64
 71  TVD                        1147 non-null   float64
 72  WellProfile                1147 non-null   object
 73  Country                    1147 non-null   object
 74  RegulatoryAgency           1147 non-null   object
 75  PSACAreaCode               1147 non-null   object
 76  PSACAreaName               1147 non-null   object
 77  ProjectedDepth             1065 non-null   float64
 78  StatusDate                 1147 non-null   object
 79  StatusSource               1147 non-null   object
 80  UnitID                     257 non-null    object
 81  UnitName                   257 non-null    object
 82  UnitFlag                   1147 non-null   object
 83  Municipality               0 non-null      float64
 84  CompletionDate             0 non-null      float64
 85  Agent                      1147 non-null   object
dtypes: float64(15), int64(12), object(59)
memory usage: 770.8+ KB

## Seewtviz Magic

In [4]:
 wh= sv.analyze(well_header)

:FEATURES DONE:                    |█████████████████████| [100%]   00:15  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)

Creating Associations graph... DONE!

In [21]:
wh.show_html('wells.html')

Report wells.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [6]:
well_production=well_production.iloc[:,1:5]

In [7]:
well_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99337 entries, 0 to 99336
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EPAssetsId  99337 non-null  int64
 1   ProdPeriod  99337 non-null  object
 2   ProdType    99337 non-null  object
 3   Volume      99337 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.0+ MB

In [8]:
 wp= sv.analyze(well_production)

:FEATURES DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [9]:
wp.show_html('wells_production.html')

Report wells_production.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [10]:
perf_treatment=perf_treatment.iloc[:,1:9]

In [11]:
pt=sv.analyze(perf_treatment)

:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [12]:
pt.show_html('pef_treatment.html')

Report pef_treatment.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

## Merging

In [13]:
df=pd.merge(well_header, well_production, on='EPAssetsId', how='left')

In [14]:
df2 = pd.merge(df,perf_treatment, on ='EPAssetsId',how ='left')

In [15]:
well_production.head()

   EPAssetsId               ProdPeriod          ProdType  Volume
0     2588946  2019-12-31 00:00:00.000  Production Hours   744.0
1     2608797  2019-12-31 00:00:00.000  Production Hours   744.0
2     2617557  2019-12-31 00:00:00.000  Production Hours   744.0
3     2588149  2019-12-31 00:00:00.000  Production Hours   744.0
4     2583451  2019-12-31 00:00:00.000  Production Hours   744.0

In [16]:
wp1=well_production.groupby(['EPAssetsId','ProdType']).sum()

In [17]:
wp2=wp1.reset_index()

In [18]:
well_prod_final=wp2.pivot(index='EPAssetsId', columns='ProdType', values='Volume')

In [19]:
wpf=sv.analyze(well_prod_final)

:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [20]:
wpf.show_html('production.html')

Report production.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.